/* 
Reference tokens
https://designsystem.olist.io/latest/pt-BR/design-tokens/colors 
*/
:root {
  --color-primary-base: #3549FF;
  --color-gray-100: #f3f3fc;
  --color-gray-200: #909090;  
  --color-common-white: #ffffff;  
  --color-common-black: #000000; 
  --color-error-base:	#d23718; 
  --color-warning-base:	#ff9900; 
  --color-info-base:#0099cc; 
  --color-success-base:#00cc00; 
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}   

:focus-visible {
  outline: 0.3rem solid var(--color-error-base);
  outline-style: dotted;
}