/* 
Reference tokens
https://designsystem.olist.io/latest/pt-BR/design-tokens/colors 
*/
:root {
  --color-primary-base: #3549FF;
  --color-gray-100: #f3f3fc;
  --color-gray-200: #909090;  
  --color-common-white: #ffffff;  
  --color-common-black: #000000;  
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

h1, h2, h3 {
  font-weight: 700;
}

input {
  &::placeholder {
    font-style: italic;
  }
}

body, button {
  font-family: 'IBM Plex Sans', sans-serif;
}
